@charset "UTF-8";
/* =CALL LIBRARY */
@import url("reset-min.css"); /* ------- Reset all CSS Styles */

/* =GENERAL - the general styles */
html{
	height: 100%;
	width:100%;
}

body {
	//overflow:auto;
	background: #fff;
	min-width: 650px;
	
	height: 100%;
	
	margin:0;
	padding:0;
	
	font-family: 'Segoe UI', Arial, sans-serif;
	//font-size: 1.1em;
}

pre{
	font-family: arial;
	font-size: 14px;
	font-style:italic;
}

a {
	text-decoration: none;
}

a.nav {
	background-color: transparent;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 16px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #999999;
}
a.nav:active {
	position: relative;
	top: 1px;
	background-color: #D37631;
}
a.nav:hover {
	color: #ffffff;
	background-color: #D37631;
	box-shadow: inset 0px 1px 8px 0px #333333;
}

/* =LAYOUT - the main layout styles */

/* main area layout */
#maincontent {
	z-index:1;
	//overflow: auto;
	//overflow: hidden;
	position: absolute;
	
	min-width: 650px;
	font-size: 0.7em;
	font-weight: normal;
	left: 0; right: 0;
	top: 46px; bottom: 0;
	
	background-color: #666666;
}

#splash{
	background-color: #EEEEEE;
	border:1px solid #000000;
	border-radius:0.7em;
	
	position: absolute;
	left: 0px; right: 0px;
	top: 0; bottom: 0;
	
	padding: 8px; 
	
	font-size: 1.3em;
}

#tabs{
	visibility: hidden;
	
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0; 
}

.tabsFill{
	overflow-y: auto;
	position: absolute;
	left: 0; right: 0;
	top: 38px; bottom: 0;
}

.fill{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.globalJustFill
{
	position: absolute;
	left: 8px; right: 8px;
	top: 36px; bottom: 8px;
}

/* =HEADER - the header styles */

/* top navigation */
#header {
	z-index:3;
	height: 82px;
	background-color: #251A11;
}


#bookmarks
{
	z-index:10;
	position: absolute;
	left:10px;
	top: 32px;
}

#settings
{
	z-index:10;
	position: absolute;
	right:42px;
	top: 32px;
}

.dropDown{
	margin: 0;
	padding: 4px;
	background-color:#6E6D6C;
	border-top: 2px solid #333333;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	
	box-shadow: 1px 1px 6px #000000;
	border-radius:  0em 0em 0.5em 0.5em;
}
.dropDown ul {
	margin: 0;
	padding: 0;
}
.dropDown li {
	font: 13px Helvetica, Arial;
	text-style:bold;
	float: left;
	list-style: none;
	margin: 0;
	padding: 3px;
}
.dropDown ul li {
	float: none;
	display: block;
}
.dropDown ul li a {
	width: auto;
	background-color:#6E6D6C;
	color:white;
	padding: 2px;
}
.dropDown ul li a:hover {
	background-color:#6E6D6C;
	color: #24313C
}



#navigation {
	display: block;
	min-height: 25px;
	padding: 3px;
	background-color: #f58400;
	border: 2px solid #FFFFFF;
	box-shadow: inset 1px 3px 5px 0px #dddddd;
}

#uriBar {
	display: block;
	height: 30px;
	background-color: #333333;
	padding: 8px;
	border-bottom: 1px solid #000000;
	box-shadow: inset 4px 2px 8px 3px #666666;
	font-size:12px
}


#signin {
	float: right;
	padding: 0px;
}

#navigation li {
	float: left;
	padding-right: 0px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: normal;
}

#navigation li a {
	color: #fff;
}

#navigation li a:hover,#navigation li.active a {
	color: #2c2c2c;
}

/*  */
#uriContent{
	width:100%;
}

.textbox {
	float: left;
	height: 16px;
	width:auto;
	width:65%;
	padding: 2px 5px;
	border: 2px solid #59b4d4;
	font-size: 13px;
	margin: 3px 3px;
}


#hideTop{
	z-index:2;
	background-color:#ffaf0f;
	height:12px;
	padding:0px;
	margin:0px;
	
	border-bottom:1px solid #000000;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	box-shadow: inset 1px 1px 2px 1px #f58400;
	//box-shadow: 1px 1px 3px #000000;
	
	cursor: pointer;
}
#hideTop:hover{
	height:15px;
	background-color:#59b4d4;
	box-shadow: inset 4px 2px 4px 3px #0083b3; 
	border-bottom:1px solid #59b4d4;
}


#unhidePopup{
	position: absolute;
	top: 5px;
	right: 0;
	background-color:#ffaf0f;
	
	height: 70px;
	width:10px;
	padding:0px;
	margin:0px;
	
	border-left:1px solid #000000;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	box-shadow: inset 1px 1px 2px 1px #f58400;
	//box-shadow: 1px 1px 3px #000000;
	
	cursor: pointer;
}
#unhidePopup:hover{
	width:20px;
	background-color:#59b4d4;
	box-shadow: inset 4px 2px 4px 3px #0083b3; 
	border-left:1px solid #59b4d4;
}