@charset "UTF-8";

/* Global View */

#popup {
	position: absolute;
	left: 65%; right: -3px;
	top: 5px; bottom: 5px;
	
	visibility: visible;
	opacity:0.95;
	background-color: #4B4B4B;
	padding: 6px;
	
	box-shadow: 1px 1px 6px #000000;
	border-radius:  2em 2em 2em 2em;
}


#popupViewerTabs{
	box-shadow: 0px 0px 8px #000000;
	
	position: absolute;
	left: 5px; right: 5px;
	top: 35px; bottom: 10px;
}

.popupViewerTabsFill{
	overflow:auto;
	overflow-y: auto;
	
	position: absolute;
	left: 2px; right: 1px;
	top: 4px; bottom: 32px;
}

#unhidePopup{
	position: absolute;
	top: 5px;
	right: 0;
	background-color:#ffaf0f;
	
	height: 120px;
	width:10px;
	padding:0px;
	margin:0px;
	
	border-left:1px solid #000000;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	box-shadow: inset 1px 1px 2px 1px #f58400;
	//box-shadow: 1px 1px 3px #000000;
	
	cursor: pointer;
}
#unhidePopup:hover{
	width:20px;
	background-color:#59b4d4;
	box-shadow: inset 4px 2px 4px 3px #0083b3; 
	border-left:1px solid #59b4d4;
}






/* D3 SVG Stuff */

.node rect {
	cursor: pointer;
	fill: #fff;
	stroke: black;
	stroke-width: 1.5px;
	box-shadow: 1px 1px 4px #000000;
	border-radius: 0.5em;
}

.node text {
	font-size: 10px;
	color: black;
	fill: black;
	stroke: black;
}

path.link {
	fill: none;
	stroke: #777;
	stroke-width: 4px;
}


rect {
  pointer-events: all;
}

line {
  stroke: #000;
  stroke-width: 3px;
}


/*
a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}*/

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

