@charset "UTF-8";



/* D3 SVG Stuff */


.provNode circle {
	cursor: pointer;
	stroke: #333;
	stroke-width: 1.5px;
}

.provNode rect {
	cursor: pointer;
	fill: #fff;
	stroke: black;
	stroke-width: 1.5px;
	box-shadow: 1px 1px 4px #000000;
	border-radius: 0.5em;
}

.provNode text {
	font-size: 15px;//sans-serif;
	color: #000;
	fill: #000;
	stroke: #000;
}

.provLink {
	stroke: #999;
  	stroke-width: .6;
}


path.link {
		fill: none;
		stroke: #666;
		stroke-width: 2px;
}

path text{
	font-size: 12px;//sans-serif;
	color: #000;
	fill: #000;
	stroke: #000;
}
	
/*
	.node circle {
	  stroke: #333;
	  stroke-width: 1.5px;
	 }


rect {
  pointer-events: all;
}

line {
  stroke: #fff;
  stroke-width: 3px;
}

*/